.main-screen {
	background: url("../img/main-screen-bg.svg") no-repeat center / cover, #ff0508;
	&__wrap {
		padding: 73px 0 100px 0;
	}

	&__title {
	}
}

@media (max-width: 1170px) {
	.main-screen {
		&__wrap {
			padding: 30px 0 40px 0;
		}
	}
}

.block-rates {
	&__wrap {
		padding: 80px 0 70px 0;
	}

	&__group {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}

	&__left {
	}

	&__title {
	}

	&__right {
		display: flex;
	}

	&__sort {
		display: flex;
		flex-wrap: wrap;
	}

	&__sort-item {
		margin-bottom: 5px;
		&:not(:last-child) {
			margin-right: 4px;
		}
	}

	&__filter {
		display: flex;
		margin-bottom: 5px;
	}

	&__filter-item {
		margin-left: 16px;
	}

	&__table {
	}
}

.sort {
	cursor: pointer;
	padding: 12px 16px 8px 16px;
	font-size: 16px;
	line-height: 120%;
	background: #f4f5f8;
	border-radius: 4px;
	&.active {
		color: #fff;
		background: #18191b;
	}
}

.filter {
	position: relative;
	cursor: pointer;
	&__current {
		white-space: nowrap;
		position: relative;
		padding: 12px 32px 8px 16px;
		font-size: 16px;
		line-height: 120%;
		background: #f4f5f8;
		border-radius: 4px;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			width: 24px;
			height: 24px;
			background: url("../img/icon-arrow.svg") no-repeat center / contain;
		}
	}

	&__list {
		position: absolute;
		padding: 10px;
		top: calc(100% + 5px);
		right: 0;
		width: 100%;
		min-width: 150px;
		background: #f4f5f8;
		border-radius: 4px;
		z-index: 5;
	}

	&__item {
		padding: 5px;
		border-radius: 4px;
		&.active {
			background: #18191b;
			color: #fff;
		}
	}
}

.table-rates {
	&__row {
		display: grid;
		grid-template-columns: 356px 1fr;
		gap: 32px;
	}

	&__column {
		&:nth-child(2) {
			& .table-rates {
				&__caption {
					display: grid;
					gap: 15px;
					grid-template-columns: 1fr 0.7fr 0.7fr 0.5fr 230px;
				}
			}
		}
	}

	&__caption {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;
		padding-bottom: 20px;
		border-bottom: 1px solid #e3e4e8;
	}

	&__sect {
		position: relative;
		width: 24px;
		height: 24px;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			width: 24px;
			height: 24px;
			background: url("../img/icon-dots.svg") no-repeat center / contain;
		}
	}

	&__title {
		font-size: 14px;
		line-height: 120%;
		font-feature-settings: "ss04" on;
		color: #87898d;
		min-height: 24px;
	}

	&__category-list {
	}

	&__category-item {
		cursor: pointer;
		display: flex;
		align-items: center;
		font-size: 24px;
		line-height: 120%;
		font-feature-settings: "ss04" on;
		color: var(--main-text-color);
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		&.active {
			& .table-rates__category-item-name {
				color: var(--text-color-red);
			}
		}

		&:hover {
			& .table-rates__category-item-name {
				color: var(--text-color-red);
			}
		}
	}

	&__category-item-name {
		margin-right: 8px;
		transition: all 0.3s ease;
	}

	&__category-item-value {
		color: #87898d;
	}

	&__list {
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}

.field-rates {
	position: relative;
	padding-bottom: 16px;

	&::before {
		content: "";
		position: absolute;
		left: 60px;
		right: 0;
		bottom: 0;
		height: 1px;
		background: #e3e4e8;
	}

	&__row {
		display: grid;
		gap: 15px;
		grid-template-columns: 1fr 0.7fr 0.7fr 0.5fr 230px;
	}

	&__column {
		&:first-child {
			display: flex;
		}
		&:last-child {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__logo {
		flex-grow: 0;
		flex-shrink: 0;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 12px;
	}

	&__group {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__name {
		line-height: 150%;
	}

	&__sign {
		opacity: 0.5;
		line-height: 150%;
	}

	&__price {
		padding: 4px 4px 0 4px;
		font-feature-settings: "tnum" on, "lnum" on, "ss04" on;

		&.--green {
			color: #05b958;
			background: #e6f8ee;
		}

		&.--red {
			color: #ff0508;
			background: rgba(255, 5, 8, 0.1);
		}

		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	&__graph {
		margin-right: 20px;
		flex-basis: 180px;
		flex-shrink: 0;
		height: 50px;
	}

	&__add {
		cursor: pointer;
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background: #f4f5f8;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 12px;
			height: 1px;
			background: #18191b;
			opacity: 0.5;
			border-radius: 2px;
		}

		&::after {
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}
}

@media (max-width: 1300px) {
	.table-rates {
		&__row {
			grid-template-columns: 250px 1fr;
			gap: 20px;
		}
	}
}

@media (max-width: 1170px) {
	.block-rates {
		&__wrap {
			padding: 30px 0 30px 0;
		}

		&__group {
			flex-direction: column;
		}

		&__left {
			margin-bottom: 15px;
		}
	}

	.sort {
		font-size: 14px;
		padding: 10px 10px 6px 10px;
	}

	.filter {
		&__current {
			font-size: 14px;
			padding: 8px 25px 8px 10px;
		}
	}

	.table-rates {
		&__row {
			grid-template-columns: 1fr;
			gap: 40px;
		}

		&__category-item {
			font-size: 18px;
		}
	}
}

@media (max-width: 900px) {
	.table-rates {
		&__column {
			&:nth-child(2) {
				& .table-rates__caption {
					display: none;
				}
			}
		}
	}

	.field-rates {
		&::before {
			left: 0;
		}

		&__row {
			grid-template-columns: 1fr 1fr 1fr;
		}

		&__column {
			position: relative;
			padding-top: 30px;
			&:last-child {
				grid-column: span 2;
			}
			&::before {
				content: attr(data-content);
				position: absolute;
				top: 0;
				left: 0;
				font-size: 14px;
				line-height: 120%;
				-webkit-font-feature-settings: "ss04" on;
				font-feature-settings: "ss04" on;
				color: #87898d;
				min-height: 24px;
			}
		}
	}
}

@media (max-width: 600px) {
	.field-rates {
		&__row {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (max-width: 500px) {
	.block-rates {
		&__group {
			margin-bottom: 20px;
		}

		&__sort {
			width: 100%;
			justify-content: center;
			margin-right: 0;
		}

		&__right {
			width: 100%;
			flex-direction: column;
		}

		&__filter {
			width: 100%;
		}

		&__filter-item {
			flex-grow: 1;
			margin-left: 0;
			&:not(:first-child) {
				margin-left: 16px;
			}
		}
	}

	.field-rates {
		&__sign {
			font-size: 14px;
		}

		&__name {
			font-size: 14px;
		}

		&__price {
			font-size: 14px;
		}
	}
}
