@font-face {
	font-family: "FavoritPro";
	src: url("../fonts/FavoritPro-Regular.eot");
	src: local("FavoritPro"), local("Favorit Pro"), url("../fonts/FavoritPro-Regular.eot") format("embedded-opentype"), url("../fonts/FavoritPro-Regular.woff2") format("woff2"), url("../fonts/FavoritPro-Regular.woff") format("woff"), url("FavoritPro-Regular.ttf") format("truetype");
}
