<!-- FOOTER -->

<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__row">
        <div class="footer__column">
          <div class="footer__logo">
            <a href="#">
              <img src="./img/logo-white.png" alt="">
            </a>
          </div>
        </div>

        <div class="footer__column">
          <div class="footer__menu">
            <ul class="footer__menu-list menu-footer">
              <li class="menu-footer__item">
                <a href="#">О компании</a>
              </li>

              <li class="menu-footer__item">
                <a href="#">Мероприятия</a>
              </li>

              <li class="menu-footer__item">
                <a href="#">Новости</a>
              </li>

              <li class="menu-footer__item">
                <a href="#">Акционерам</a>
              </li>

              <li class="menu-footer__item">
                <a href="#">Контакты</a>
              </li>

              <li class="menu-footer__item">
                <a href="#">Вакансии</a>
              </li>

              <li class="menu-footer__item">
                <a href="#">Музей Московской биржи</a>
              </li>

              <li class="menu-footer__item">
                <a href="#">Rusbonds — медиа для МСП </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer__column">
          <div class="footer__menu">
            <ul class="footer__menu-list menu-footer">
              <li class="menu-footer__item">
                <a href="#">Объявления</a>
              </li>

              <li class="menu-footer__item">
                <a href="#">Инсайдерская информация</a>
              </li>

              <li class="menu-footer__item">
                <a href="#">Мошеннические действия</a>
              </li>

              <li class="menu-footer__item">
                <a href="#">Ограничения в период пандемии</a>
              </li>

              <li class="menu-footer__item">
                <a href="#">Часто задаваемые вопросы</a>
              </li>
            </ul>

          </div>

          <div class="footer__sign">Раскрытие информации</div>

        </div>

        <div class="footer__column">

          <div class="footer__social social-footer">

            <ul class="social-footer__list">
              <li class="social-footer__item">
                <a href="#">
                  <img src="./img/icon-social-1.svg" alt="">
                </a>
              </li>
              <li class="social-footer__item">
                <a href="#">
                  <img src="./img/icon-social-2.svg" alt="">
                </a>
              </li>
              <li class="social-footer__item">
                <a href="#">
                  <img src="./img/icon-social-3.svg" alt="">
                </a>
              </li>
              <li class="social-footer__item">
                <a href="#">
                  <img src="./img/icon-social-4.svg" alt="">
                </a>
              </li>
              <li class="social-footer__item">
                <a href="#">
                  <img src="./img/icon-social-5.svg" alt="">
                </a>
              </li>
              <li class="social-footer__item">
                <a href="#">
                  <img src="./img/icon-social-6.svg" alt="">
                </a>
              </li>
            </ul>

          </div>

          <div class="footer__menu">
            <ul class="footer__menu-list menu-footer">
              <li class="menu-footer__item">
                <a href="tel:+7 495 232-33-63">+7 495 232-33-63</a>
              </li>

              <li class="menu-footer__item">
                <a href="tel:+7 495 363-32-32">+7 495 363-32-32</a>
              </li>
            </ul>

          </div>

          <div class="footer__sign">© Московская Биржа 2011 – 2021</div>


        </div>
      </div>
    </div>
  </div>
</footer>

<!-- // FOOTER -->

</div>

<script src="./js/libraries/lightweight-charts.standalone.production.js"></script>
<script src="./js/libraries/vue.js"></script>
<script src="./js/page/script-lk.js"></script>
<script src="./js/page/script-login.js"></script>
<script src="./js/script.js"></script>
</body>

</html>