<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/style.css" />
  <title>Document</title>
</head>

<body>

  <div class="wrapper" id="app">

    <header class="header">
      <div class="header__wrapper" v-if="isLoading" v-on:mouseleave="closeMainMenu">

        <div class="container">
          <div class="header__top">
            <div class="header__nav-direction" :class="{ '--show': headerMenu.menuDirection.showMenu }"
              v-on:click="openMenuDirection" v-if="!isMobile">
              Направления
            </div>

            <div class="header__search main-search" v-if="!isMobile">
              <button class="main-search__button" type="submit">

              </button>

              <input class="main-search__input" type="text" placeholder="Поиск">
            </div>

            <div class="header__group">
              <div class="header__time" v-if="!isMobile">
                <comp-current-date></comp-current-date>
              </div>

              <div class="header__auth">
                <a href="#">Личный кабинет</a>
              </div>

              <div class="header__language">
                <a class="active" href="#">Ru</a>
                /
                <a href="#">En</a>
              </div>
            </div>

            <div class="header__burger" v-if="isMobile"
              v-on:click="headerMenu.isShowMobileMenu = !headerMenu.isShowMobileMenu"></div>
          </div>

          <div class="header__bottom" v-if="!isMobile">

            <div class="header__logo">
              <a href="#">
                <img src="./img/logo.png" alt="">
              </a>
            </div>

            <comp-main-menu :objmenu="headerMenu.menuMain.arrItemMenu" v-on:event-hover-item-menu="hoverItemMenu">
            </comp-main-menu>


            <div class="header__nav-info" :class="{ '--show': headerMenu.menuInfo.showMenu }" v-on:click="openInfoMenu">
            </div>

          </div>
        </div>

        <template v-for="(item, index) in headerMenu.menuMain.arrItemMenu">
          <comp-main-menu-drop :objmenu="item" v-if="item.isShowDesctop"></comp-main-menu-drop>
        </template>

        <template v-if="headerMenu.menuDirection.showMenu">
          <comp-menu-direction :objmenu="headerMenu.menuDirection"></comp-menu-direction>
        </template>

        <template v-if="headerMenu.menuInfo.showMenu">
          <comp-menu-info :objmenu="headerMenu.menuInfo"></comp-menu-info>
        </template>

        <template v-if="headerMenu.isShowMobileMenu">
          <comp-mobile-menu v-on:event-open-sub-menu-mobile="openSubMenuMobile"
            v-on:event-close-menu-mobile="closeMenuMobile" :objmenu="headerMenu">
          </comp-mobile-menu>
        </template>

      </div>
    </header>