<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/style.css" />
  <title>Document</title>
</head>

<body>

  <div class="wrapper" id="app">

    <header class="header">
      <div class="header__wrapper" v-on:mouseleave="closeMainMenu">

        <div class="container">
          <div class="header__top">
            <div class="header__nav-direction" v-on:click="openMenuDirection()">
              Направления
            </div>

            <div class="header__search main-search">
              <button class="main-search__button" type="submit">

              </button>

              <input class="main-search__input" type="text" placeholder="Поиск">
            </div>

            <div class="header__group">
              <div class="header__time">Пятница, 10 декабря 16:27</div>

              <div class="header__auth">
                <a href="#">Личный кабинет</a>
              </div>

              <div class="header__language">
                <a class="active" href="#">Ru</a>
                /
                <a href="#">En</a>
              </div>
            </div>
          </div>

          <div class="header__bottom">

            <div class="header__logo">
              <a href="#">
                <img src="./img/logo.png" alt="">
              </a>
            </div>

            <nav class="header__main-nav main-nav">
              <ul class="main-nav__list">

                <template v-for="(item, index) in menuMain.arrItemMenu" :key="index">
                  <li class="main-nav__item">
                    <a :href="item.linkItem" v-on:mouseenter="openMainMenuLevelTwo(index)">
                      {{ item.nameItem }}
                    </a>
                  </li>
                </template>

              </ul>
            </nav>

            <div class="header__nav-info" v-on:click="openInfoMenu">

            </div>

          </div>
        </div>

        <template v-if="menuMain.showMenu">
          <div class="header__main-menu-drop main-menu-drop">
            <div class="container">
              <div class="main-menu-drop__row">
                <div class="main-menu-drop__column">
                  <ul class="main-menu-drop__left-list">
                    <template v-for="(el, i) in menuMain.arrItemMenu[menuMain.showMainMenuLevelTwoIndex].menuLevelTwo"
                      :key="i">
                      <li v-on:mouseenter="openMainMenuLevelThree(i)" class="main-menu-drop__item">
                        <a :href="el.linkItem" class="main-menu-drop__link">{{ el.nameItem }}</a>
                      </li>
                    </template>
                  </ul>
                </div>

                <div class="main-menu-drop__column">
                  <ul class="main-menu-drop__right-list">
                    <template v-if="menuMain.showMainMenuLevelThreeIndex !== null"
                      v-for="(el, i) in menuMain.arrItemMenu[menuMain.showMainMenuLevelTwoIndex].menuLevelTwo[menuMain.showMainMenuLevelThreeIndex].menuLeveThree"
                      :key="i">
                      <li class="main-menu-drop__item">
                        <a :href="el.linkItem" class="main-menu-drop__link">{{ el.nameItem }}</a>

                        <div class="main-menu-drop__text">
                          {{ el.textItem }}
                        </div>
                      </li>
                    </template>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </template>

        <template v-if="menuDirection.showMenu">
          <div class="header__menu-direction menu-direction">
            <div class="container">
              <div class="menu-direction__list">

                <template v-for="(item, index) in menuDirection.arrItemMenu" :key="index">
                  <div class="menu-direction__item">
                    <a :href="item.linkItem" class="menu-direction__name">{{ item.nameItem }}</a>

                    <div class="menu-direction__text">{{ item.textItem }}</div>
                  </div>
                </template>

              </div>
            </div>
          </div>
        </template>

        <template v-if="menuInfo.showMenu">
          <div class="header__menu-info menu-info">
            <div class="container">
              <div class="menu-info__row">
                <div class="menu-info__column">
                  <ul class="menu-info__left-list">

                    <template v-for="(el, i) in menuInfo.arrItemMenu">
                      <li class="menu-info__item">
                        <a :href="el.linkItem" class="menu-info__link" v-on:mouseenter="openInfoMenuLevelTwo(i)">{{
                          el.nameItem }}</a>
                      </li>
                    </template>

                  </ul>
                </div>

                <div class="menu-info__column">
                  <ul class="menu-info__right-list">
                    <template v-for="(el, i) in menuInfo.arrItemMenu[menuInfo.showMainMenuLevelTwoIndex].menuLevelTwo"
                      :key="i">
                      <li class="menu-info__item">
                        <a :href="el.linkItem" class="menu-info__link">{{ el.nameItem }}</a>
                      </li>
                    </template>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </template>

      </div>
    </header>