@@include("../components/_header.html")

<main class="main">
  <section class="main-screen">
    <div class="container">
      <div class="main-screen__wrap">
        <h1 class="main-screen__title title-h1">
          Биржевая информация
        </h1>
      </div>
    </div>
  </section>

  <section class="rates">

    <template v-if="isLoading" v-for="(item, index) in rates" :key="index">
      <comp-block-rates :objrate="item"></comp-block-rates>
    </template>

  </section>

</main>

@@include("../components/_footer.html")