.footer {
	margin-top: 144px;
	background: #18191b;
	&__wrap {
		padding: 40px 0 48px 0;
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 40px;
	}

	&__column {
		display: flex;
		flex-direction: column;
	}

	&__logo {
	}

	&__menu {
		flex-grow: 1;
	}

	&__menu-list {
	}

	&__sign {
		margin-top: 20px;
		color: #fff;
	}

	&__social {
		margin-bottom: 32px;
	}
}

.menu-footer {
	&__item {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		& a {
			color: #fff;
		}
	}
}
.social-footer {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 8px;
		}
	}
}

@media (max-width: 1350px) {
	.footer {
		&__row {
			grid-template-columns: 0.7fr 1fr 1fr 1fr;
		}
	}
}

@media (max-width: 1170px) {
	.footer {
		margin-top: 50px;

		&__row {
			grid-template-columns: 1fr 1fr 1fr;
			column-gap: 20px;
		}

		&__column {
			&:first-child {
				grid-column: span 3;
			}
		}

		&__sign {
			font-size: 14px;
		}
	}

	.menu-footer {
		&__item {
			& a {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 768px) {
	.footer {
		&__row {
			grid-template-columns: 1fr 1fr;
		}

		&__column {
			&:first-child {
				grid-column: span 2;
			}

			&:last-child {
				grid-column: span 2;
			}
		}
	}
}
